Repository rakutentech/android-miniapp, pull requests merged in 2022-12, with the labels that each got.

#527 [MINI-5755] Invalidate Cached MiniAppView when Fragment got destroyed
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/ui/miniapptabs/fragments/MiniAppDisplayFragment.kt
Labels: bug, demo-app

#528 [MINI 4858] Improve branch code coverage
  miniapp/src/main/java/com/rakuten/tech/mobile/miniapp/errors/MiniAppDownloadFileError.kt
  miniapp/src/main/java/com/rakuten/tech/mobile/miniapp/errors/MiniAppSecureStorageError.kt
  miniapp/src/main/java/com/rakuten/tech/mobile/miniapp/js/MiniAppSecureStorageDispatcher.kt
  miniapp/src/main/java/com/rakuten/tech/mobile/miniapp/permission/MiniAppCustomPermissionCache.kt
  miniapp/src/main/java/com/rakuten/tech/mobile/miniapp/storage/util/MiniAppDatabaseEncryptionUtil.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/MiniAppDownloaderSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/MiniappSdkInitializerSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/analytics/MiniAppAnalyticsSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/api/RetrofitCreatorUtilsSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/closealert/MiniAppCloseAlertInfoSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/file/MiniAppFileDownloaderSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/js/MiniAppFileDownloadDispatcherSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/js/chat/ChatBridgeDispatcherSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/js/securestoragedispatcher/MessageBridgeSecurestorageDispatcherSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/js/securestoragedispatcher/MiniAppSecureStorageDispatcherSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/navigator/MiniAppExternalUrlLoaderSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/permission/MiniAppCustomPermissionCacheSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/storage/MiniAppSecureStorageSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/storage/MiniAppStatusSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/storage/util/MiniAppDatabaseEncryptionUtilSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/view/MiniAppViewHandlerSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/view/MiniAppViewImplSpec.kt
Labels: SDK

#530 [MINI-5796] Appending '.' to file names on file download creates a zero byte file in Android 10
  CHANGELOG.md
  miniapp/src/main/java/com/rakuten/tech/mobile/miniapp/file/MiniAppFileDownloader.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/file/MiniAppFileDownloaderSpec.kt
Labels: bug, SDK, v5.1.0

#529 [NO TICKET] Refactor
  analytics/src/main/java/com/rakuten/tech/mobile/analytics/Tracker.kt
  miniapp/src/main/java/com/rakuten/tech/mobile/miniapp/MiniAppDownloader.kt
  miniapp/src/main/java/com/rakuten/tech/mobile/miniapp/analytics/MiniAppAnalytics.kt
  miniapp/src/main/java/com/rakuten/tech/mobile/miniapp/display/Displayer.kt
  miniapp/src/main/java/com/rakuten/tech/mobile/miniapp/display/WebViewDialog.kt
  miniapp/src/main/java/com/rakuten/tech/mobile/miniapp/storage/MiniAppSecureStorage.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/MiniAppSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/TestData.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/ads/TestAdMobDisplayer.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/api/RetrofitRequestExecutorSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/file/MiniAppFileChooserDefaultSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/js/chat/ChatBridgeDispatcherSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/permission/ui/MiniAppCustomPermissionWindowSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/signatureverifier/api/SignatureApiClientSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/signatureverifier/verification/AesEncryptorSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/storage/MiniAppStorageSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/storage/verifier/StoreHashVerifierSpec.kt
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/analytics/DemoAppAnalytics.kt
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/helper/AppHelper.kt
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/helper/MessageBridgeHelper.kt
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/ui/chat/ChatWindow.kt
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/ui/deeplink/SchemeActivity.kt
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/ui/display/MiniAppDisplayActivity.kt
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/ui/display/MiniAppDisplayViewModel.kt
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/ui/miniapptabs/DemoAppMainActivity.kt
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/ui/miniapptabs/extensions/NavigationExtensions.kt
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/ui/miniapptabs/fragments/MiniAppDisplayFragment.kt
Labels: refactoring, SDK, demo-app, v5.1.0

#533 [NO TICKET] Minor improvements in several areas
  CHANGELOG.md
  miniapp/src/main/java/com/rakuten/tech/mobile/miniapp/file/MiniAppFileDownloader.kt
  miniapp/src/main/java/com/rakuten/tech/mobile/miniapp/js/MiniAppMessageBridge.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/api/MetadataApiSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/js/ActionTypeSpec.kt
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/ActivityLauncher.kt
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/BuildVariant.kt
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/helper/AppDevicePermission.kt
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/helper/MessageBridgeHelper.kt
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/ui/display/MiniAppDisplayActivity.kt
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/ui/display/preload/PreloadManifestPermission.kt
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/ui/miniapptabs/DemoAppMainActivity.kt
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/ui/miniapptabs/adapter/MiniAppListAdapter.kt
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/ui/miniapptabs/fragments/FeaturesFragment.kt
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/ui/miniapptabs/fragments/MiniAppDisplayFragment.kt
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/ui/miniapptabs/fragments/MiniAppListFragment.kt
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/ui/miniapptabs/fragments/SettingsFragment.kt
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/ui/settings/AppSettings.kt
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/ui/settings/SettingsNavigator.kt
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/ui/userdata/ContactHelper.kt
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/ui/userdata/ContactListActivity.kt
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/ui/userdata/ProfileSettingsActivity.kt
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/ui/userdata/QASettingsActivity.kt
Labels: refactoring

#535 [NO TICKET] Branch code coverage upto 71%
  miniapp/src/main/java/com/rakuten/tech/mobile/miniapp/js/MiniAppSecureStorageDispatcher.kt
  miniapp/src/main/java/com/rakuten/tech/mobile/miniapp/storage/util/MiniAppDatabaseEncryptionUtil.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/RealMiniAppSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/display/WebViewFileDownloaderSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/js/MessageBridgeRatDispatcherSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/js/UniversalBridgeSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/js/securestoragedispatcher/MiniAppSecureStorageDispatcherSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/permission/MiniAppPermissionSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/storage/MiniAppSecureStorageSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/storage/database/MiniAppSecureDatabaseSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/storage/util/MiniAppDatabaseEncryptionUtilSpec.kt
Labels: SDK

#534 [MINI-5811] delete file when failed download
  CHANGELOG.md
  build.gradle
  miniapp/build.gradle
  miniapp/src/main/java/com/rakuten/tech/mobile/miniapp/file/MiniAppFileDownloader.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/file/MiniAppFileDownloaderSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/js/securestoragedispatcher/MiniAppSecureStorageDispatcherSpec.kt
Labels: bug, SDK, v5.2.0

#536 [MINI-5831] Update settings UI to be similar as on ios
  CHANGELOG.md
  testapp/src/main/AndroidManifest.xml
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/ui/miniapptabs/fragments/SettingsFragment.kt
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/ui/userdata/ContactAddActivity.kt
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/ui/userdata/ContactHelper.kt
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/ui/userdata/ContactListActivity.kt
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/ui/userdata/GeneralSettingsActivity.kt
  testapp/src/main/res/layout/activity_contact_add.xml
  testapp/src/main/res/layout/custom_button_view_with_arrow.xml
  testapp/src/main/res/layout/general_settings_activity.xml
  testapp/src/main/res/layout/settings_fragment.xml
  testapp/src/main/res/values/strings.xml
Labels: enhancement, demo-app
