Repository rakutentech/android-miniapp, pull requests merged in 2022-10, with the labels that each got.

#477 [MINI-5417] Bulk delete should not show error message.
  miniapp/src/main/java/com/rakuten/tech/mobile/miniapp/storage/database/MiniAppSecureDatabase.kt
Labels: bug, SDK, 4.3.0

#483 [No Ticket] Updated Team
  .github/CODEOWNERS
Labels: github

#481 [MINI-5418] Maximum storage size limit should be set in Bytes instead of Mega Bytes
  CHANGELOG.md
  miniapp/USERGUIDE.md
  miniapp/src/main/java/com/rakuten/tech/mobile/miniapp/MiniApp.kt
  miniapp/src/main/java/com/rakuten/tech/mobile/miniapp/MiniAppSdkConfig.kt
  miniapp/src/main/java/com/rakuten/tech/mobile/miniapp/MiniappSdkInitializer.kt
  miniapp/src/main/java/com/rakuten/tech/mobile/miniapp/RealMiniApp.kt
  miniapp/src/main/java/com/rakuten/tech/mobile/miniapp/js/MiniAppSecureStorageDispatcher.kt
  miniapp/src/main/java/com/rakuten/tech/mobile/miniapp/storage/MiniAppSecureStorage.kt
  miniapp/src/main/java/com/rakuten/tech/mobile/miniapp/storage/database/MiniAppSecureDatabase.kt
  miniapp/src/main/java/com/rakuten/tech/mobile/miniapp/view/MiniAppViewHandler.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/MiniappSdkInitializerSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/RealMiniAppSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/TestData.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/js/MiniAppSecureStorageDispatcherSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/storage/MiniAppSecureStorageSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/view/MiniAppViewHandlerSpec.kt
  testapp/build.gradle
  testapp/src/main/AndroidManifest.xml
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/ui/deeplink/SchemeActivity.kt
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/ui/display/MiniAppDisplayActivity.kt
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/ui/display/preload/PreloadMiniAppWindow.kt
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/ui/miniapplist/MiniAppListFragmentDeprecated.kt
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/ui/miniapptabs/DemoAppMainActivity.kt
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/ui/miniapptabs/fragments/MiniAppDisplayFragment.kt
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/ui/miniapptabs/fragments/MiniAppListFragment.kt
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/ui/permission/MiniAppDownloadedListActivity.kt
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/ui/permission/MiniAppPermissionSettingsActivity.kt
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/ui/settings/AppSettings.kt
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/ui/settings/SettingsMenuActivity.kt
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/ui/userdata/QASettingsActivity.kt
  testapp/src/main/res/values/strings.xml
Labels: bug, SDK, v5.0.0

#492 [MINI-5538] RAS credentials should persist when tab switched
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/ui/miniapptabs/fragments/SettingsFragment.kt
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/ui/settings/AppSettings.kt
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/ui/settings/Cache.kt
Labels: bug, demo-app, v5.0.0

#493 [MINI-5492] Adding More Unit Test Cases For Secure Storage
  miniapp/src/main/java/com/rakuten/tech/mobile/miniapp/storage/database/MiniAppSecureDatabase.kt
  miniapp/src/main/java/com/rakuten/tech/mobile/miniapp/storage/database/MiniAppSecureDatabaseImpl.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/storage/MiniAppSecureStorageSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/storage/database/MiniAppSecureDatabaseSpec.kt
Labels: enhancement, SDK, v5.0.0

#490 [MINI-5639] Improve test code coverage
  codecov.yml
  miniapp/src/main/java/com/rakuten/tech/mobile/miniapp/MiniappSdkInitializer.kt
  miniapp/src/main/java/com/rakuten/tech/mobile/miniapp/api/RasSdkHeaders.kt
  miniapp/src/main/java/com/rakuten/tech/mobile/miniapp/api/RetrofitCreatorUtils.kt
  miniapp/src/main/java/com/rakuten/tech/mobile/miniapp/display/MiniAppWebView.kt
  miniapp/src/main/java/com/rakuten/tech/mobile/miniapp/file/MiniAppFileChooser.kt
  miniapp/src/main/java/com/rakuten/tech/mobile/miniapp/js/MiniAppMessageBridge.kt
  miniapp/src/main/java/com/rakuten/tech/mobile/miniapp/js/MiniAppSecureStorageDispatcher.kt
  miniapp/src/main/java/com/rakuten/tech/mobile/miniapp/js/Obj.kt
  miniapp/src/main/java/com/rakuten/tech/mobile/miniapp/permission/CustomPermissionBridgeDispatcher.kt
  miniapp/src/main/java/com/rakuten/tech/mobile/miniapp/permission/ui/MiniAppCustomPermissionAdapter.kt
  miniapp/src/main/java/com/rakuten/tech/mobile/miniapp/permission/ui/MiniAppCustomPermissionWindow.kt
  miniapp/src/main/java/com/rakuten/tech/mobile/miniapp/storage/DownloadedManifestCache.kt
  miniapp/src/main/java/com/rakuten/tech/mobile/miniapp/storage/MiniAppSecureStorage.kt
  miniapp/src/main/java/com/rakuten/tech/mobile/miniapp/storage/database/MiniAppSecureDatabase.kt
  miniapp/src/main/java/com/rakuten/tech/mobile/miniapp/view/MiniAppViewImpl.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/MiniAppSdkConfigSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/MiniappSdkInitializerSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/TestData.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/api/RetrofitRequestExecutorSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/display/MiniAppWebviewSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/file/MiniAppFileChooserDefaultSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/js/AdBridgeSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/js/BridgeCommon.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/js/CustomPermissionBridgeSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/js/MiniAppBridgeSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/js/MiniAppMessageBridgeSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/js/ShareContentBridgeSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/js/UnimplementedMessageBridgeSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/js/chat/ChatBridgeDispatcherSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/js/securestoragedispatcher/MessageBridgeSecurestorageDispatcherSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/js/securestoragedispatcher/MiniAppSecureStorageDispatcherSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/js/userinfo/UserInfoBridgeSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/permission/CustomPermissionBridgeDispatcherSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/permission/ui/MiniAppCustomPermissionAdapterSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/permission/ui/MiniAppCustomPermissionWindowSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/storage/DownloadedManifestCacheSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/storage/database/MiniAppSecureDatabaseSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/storage/util/MiniAppDatabaseEncryptionUtilSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/storage/verifier/CachedMiniAppVerifierSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/view/MiniAppViewHandlerSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/view/MiniAppViewImplSpec.kt
  miniapp/src/test/java/com/rakuten/tech/mobile/miniapp/view/MiniAppViewSpec.kt
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/ui/display/MiniAppDisplayActivity.kt
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/ui/miniapptabs/fragments/MiniAppDisplayFragment.kt
Labels: enhancement, SDK, v5.0.0

#496 [MINI-5638] Enabling The MiniAppID Text Field.
  testapp/src/main/java/com/rakuten/tech/mobile/testapp/ui/userdata/QASettingsActivity.kt
Labels: bug, SDK, v5.0.0
